@import url('https://rsms.me/inter/inter-ui.css');

::selection {
    background: #2D2F36;
}

::-webkit-selection {
    background: #2D2F36;
}

::-moz-selection {
    background: #2D2F36;
}

body {
    background: #e2e2e5;
    font-family: 'Inter UI', sans-serif;
    margin: 0;
    padding: 20px;
}

.page {
    margin: 60px;
}

.container {
    display: flex;
    margin: 0 auto;
    width: 640px;
}

.left {
    background: white;
    border-radius: 8px 0px 0px 8px;
    height: 340px;
    top: 20px;
    position: relative;
    z-index: 1;
    width: 50%;
}

.login {
    color: #BD00FF;
    font-size: 30px;
    font-weight: 900;
    margin: 50px 40px 40px;
}

.eula {
    color: #4e4d4d;
    font-size: 14px;
    line-height: 1.5;
    margin: 40px;
}

.right {
    background: #474A59;
    padding: 15px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 40px 16px rgba(0, 0, 0, 0.22);
    color: #F1F1F2;
    border-radius: 8px;
    position: relative;
    height: 350px;
    width: 50%;
}
/*
svg {
    width: 320px;
}

path {
    fill: none;
    stroke: url(#linearGradient);
    ;
    stroke-width: 4;
    stroke-dasharray: 240 1386;
}
*/

label {
    color: #c2c2c5;
    display: block;
    font-size: 14px;
    height: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
}

input {
    background: transparent;
    /*#f2f2f2*/
    color: #f2f2f2;
    border-radius: 10px;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    outline: none !important;
    border: 10px;
    border-color: black;
    width: 100%;
}

input:focus
{
    border-color: rgba(189, 0, 255, 0.5);
}

input::-moz-focus-inner {
    border: 0;
}

.next-button {
    color: #707075;
    margin-top: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: color 300ms;
}

.next-button:focus {
    color: #f2f2f2;
}

.next-button:active {
    color: #d0d0d2;
}

#form-inicial
{
    position: absolute;
    margin-left: 25px;
}

#form-final
{
    position: absolute;
    margin-left: 25px;
}

.form-inicial-parse
{
    opacity: 0;
<<<<<<< HEAD
    /*display: none;*/
=======
    display: none;
>>>>>>> 868e1e912f4bbb690c93b934b9fb19c348ba2185
    transform: translateX(-300px);
    transition: transform 0.5s ease-in-out, opacity 0.1s ease-in-out;
}

.form-inicial
{
    opacity: 1;
<<<<<<< HEAD
   /* display: contents;*/
=======
    display: contents;
>>>>>>> 868e1e912f4bbb690c93b934b9fb19c348ba2185
    transform: translateX(0);
    transition: transform 0.3s ease-in-out, opacity 0.1s ease-in-out;
}

.form-secun
{
    opacity: 1;
<<<<<<< HEAD
    /*display: contents;*/
=======
    display: contents;
>>>>>>> 868e1e912f4bbb690c93b934b9fb19c348ba2185
    transform: translateX(0);
    transition: transform 0.3s ease-in-out, opacity 0.1s ease-in-out;
}

.form-secun-backward
{
    opacity: 0;
<<<<<<< HEAD
    /*display: none;*/
=======
    display: none;
>>>>>>> 868e1e912f4bbb690c93b934b9fb19c348ba2185
    flex-direction: column;
    transform: translateX(-300px);
    transition: transform 0.5s ease-in-out, opacity 0.1s ease-in-out;
}

.extra-buttons {
    display: flex;
    justify-content: center;
    gap: 15px; /* Espaço entre os botões */
    margin-top: 285px;
}

.btn {
    background: transparent;
    color: #707075;
    flex: 0.3;
    font-size: 12px;
    padding: 10px 20px;
    justify-content: center;
    margin-top: 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease; /* Deixa o hover suave */
}

.btn:hover {
    background: linear-gradient(500deg, #9c00d4, #5300cf);
    color: white;
    transform: scale(1.1);  /* Aumenta o botão no hover */
    box-shadow: 0px 4px 15px rgba(189, 0, 255, 0.5);  /* Efeito de sombra */
}

.btn:focus {
    outline: none; /* Tira o contorno padrão do navegador */
    background: linear-gradient(45deg, #BD00FF, #6600ff);
    color: white;
    transform: scale(1.05);
}

.accenture {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .accenture img {
    width: 10rem; /* Ajuste o tamanho */
    height: auto; /* Mantém a proporção correta da imagem */
  }

<<<<<<< HEAD
.to-bottom
{
    margin-bottom: 70px;
}

=======
>>>>>>> 868e1e912f4bbb690c93b934b9fb19c348ba2185
.button-div
{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
<<<<<<< HEAD
    align-items: center;
=======
    align-items: end;
>>>>>>> 868e1e912f4bbb690c93b934b9fb19c348ba2185
}