*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #000000;
    --font-family:  'Archive', sans-serif;
    --text: 16px/150% var(--font-family);
}

body {
    background-color: var(--background-color);
}

header {
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .logo img {
    height: 40px; /* Ajuste conforme sua imagem */
  }
  
  .nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #85037e; /* Cor ao passar o mouse */
  }