@import url('https://rsms.me/inter/inter-ui.css');

::selection {
    background: #2D2F36;
}

::-webkit-selection {
    background: #2D2F36;
}

::-moz-selection {
    background: #2D2F36;
}

body {
    background: #e2e2e5;
    font-family: 'Inter UI', sans-serif;
    margin: 0;
    padding: 20px;
}

label {
    color: #c2c2c5;
    display: block;
    font-size: 14px;
    height: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
}

input {
    background: transparent;
    color: #f2f2f2;
    border: none;
    border-bottom: 2px solid transparent;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    outline: none;
    background-image: linear-gradient(to right, #BD00FF 40%, #03031f);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 0% 2px;
    padding-bottom: 6px;
    transition: 0.3s ease;
    width: 100%;
    border-radius: 0;
}

input:hover {
    outline: none;
    background-size: 100% 2px;
}

input:focus {
    outline: none;
    box-shadow: none;
    background-size: 100% 2px;
}

input::-moz-focus-inner {
    border: 0;
}

.page {
    background: #e2e2e5;
    display: flex;
    flex-direction: column;
    height: calc(100% - 40px);
    position: absolute;
    place-content: center;
    width: calc(100% - 40px);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    width: 300px;
    background: #474A59;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.recuperacao {
    color: #BD00FF;
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 20px;
    text-align: center;
    
}

.descricao {
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.6;
}

.form {
    width: 100%;
}

.extra-buttons {
    display:block;
    justify-content: center;
    gap: 20px; 
    margin-top: 15px; 
    text-align: center;
}

#btn-rec {
    font-size: 16px;
    margin-top: 5px;
}

.btn {
    background: transparent;
    color: #707075;
    flex: 0.3;
    font-size: 12px;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease; 
    margin-top: 20px;
}

.btn:hover {
    background: linear-gradient(500deg, #9c00d4, #5300cf);
    color: white;
    transform: scale(1.1);  
    box-shadow: 0px 4px 15px rgba(189, 0, 255, 0.5);  
}

.btn:focus {
    outline: none; 
    background: linear-gradient(45deg, #BD00FF, #6600ff);
    color: white;
    transform: scale(1.05);
}

.accenture {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.accenture img {
    width: 10rem;
    height: auto; 
}